body {
  background-color: #d9eafa;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #1d0294;
  text-align: center;
}

p {
  font-size: 19px;
  text-align: justify;
}

ul li {
  margin-bottom: 12px;
}

img {
  border-radius: 10px;
  margin-top: 10px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #2911ffd0;
  text-decoration: none;
}

a:hover {
  color: #07e925;
}